<div class="box" [class.close]="closing">
  <div class="content">
    <div class="close" (click)="onClose()">X</div>
    <h2 class="title">Contact</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <label>Name</label>
        <input
          type="text"
          formControlName="name"
        >
      </p>
      <span *ngIf="validated && form.controls.name.errors" class="errors">
        <span *ngIf="form.controls.name.hasError('required')" class="error">The name is required</span>
      </span>
      <p>
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        >
      </p>
      <span *ngIf="validated && form.controls.email.errors" class="errors">
        <span *ngIf="form.controls.email.hasError('required')" class="error">The email is required</span>
        <span *ngIf="form.controls.email.errors.pattern" class="error">The email is incorrect</span>
      </span>
      <p>
        <label>Phone</label>
        <input
          type="tel"
          formControlName="phone"
          pattern="^(?:\+?\(?(\d{1,3})\)?)?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)$"
        >
      </p>
      <span *ngIf="validated && form.controls.phone.errors" class="errors">
        <span *ngIf="form.controls.phone.hasError('required')" class="error">The phone is required</span>
        <span *ngIf="form.controls.phone.errors.pattern" class="error">The phone is incorrect</span>
      </span>
      <p>
        <label>Comment</label>
        <textarea formControlName="comment"></textarea>
      </p>
      <span *ngIf="validated && form.controls.comment.errors" class="errors">
        <span *ngIf="form.controls.comment.hasError('required')" class="error">The comment is required</span>
      </span>
      <div class="btns">
        <button type="submit">Save and exit</button>
        <button type="button" (click)="onClose()">Cancel</button>
      </div>
    </form>
  </div>
</div>
