<article>
  <h3>{{title}}</h3>
  <div [class.odd]="isOdd">
    <div class="data">
      <div class="hexagons" [ngClass]="['hexagons-'+hexagonsPerLine]">
        <div class="hexagon-container"
          *ngFor="let hexagon of hexagons; let i = index"
          [class.first]="i == 0"
          [class.up]="(i%hexagonsPerLine) % 2 == 0">
          <div
            class="hexagon"
            [ngStyle]="{backgroundImage: 'url('+hexagon.icon+')'}"
            (click)="onSelect(hexagon.id)"
          ></div>
        </div>
      </div>
      <h4>Información</h4>
      <div class="info">
        <span class="value" *ngFor="let info of data"><strong>{{info.name}}: </strong><span>{{info.value}}</span></span>
      </div>
    </div>
    <div class="img" [ngStyle]="{backgroundImage: 'url('+bigImage+')'}"></div>
  </div>
</article>
