$max-hexagons: 16;
article {
  padding: 0 50px;
  margin: 30px 0;
  h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  & > div {
    display: flex;
    flex-direction: row;
    &.odd .img {
      order: 0;
    }
    &.odd .data {
      order: 1;
    }
    .data{
      padding: 0 30px;
    }
    .img {
      position: relative;
      &.small {
        align-self: center;
        height: 450px;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        object-fit: contain;
        width: 100%;
        height: 100%;
        &.new-big {
          display: none;
        }
      }
      &.animate {
        img {
          transition: all 0.6s ease;
        }
        img.big {
          opacity: 0;
        }
        img.new-big {
          display: block;
        }
      }
    }
    .img, .data {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @for $hexagons from 1 to $max-hexagons {
      $width: 100% / (0.75 * $hexagons + 0.25);
      $width2: $width / 2;
      $width4: $width / 4;
      $nextHexagons: $hexagons + 1;
      .hexagons.hexagons-#{$hexagons} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-top: $width2;
        max-width: 450px;
        .hexagon-container.first {
          margin-left: 0;
        }
        .hexagon-container {
          width: $width;
          margin-left: -$width4;
          &:nth-child(#{$hexagons}n+#{$nextHexagons}){
            margin-left: 0;
          }
          &.up{
            margin-top: -$width2;
          }
          .hexagon-outter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 2.5% 0;
            box-sizing: border-box;
            clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
            background-color: #bbad58;
            &.active, &:hover {
              transition: background-color 0.3s ease;
              background-color: #cc3939;
            }
            .hexagon{
              width: 95%;
              padding-top: 95%;
              box-sizing: border-box;
              background-color: #1a1309;
              clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
              transition: all 0.3s ease;
              opacity: 1;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              &:hover{
                opacity: 0.5;
              }
              &.active {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    h4 {
      align-self: flex-start;
      margin: 20px 0;
    }
    .info {
      width: 100%;
      column-count: 2;
      min-height: 200px;
    }
    .value {
      display: block;
    }
  }
}
